* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Define global variables */
  --primary-color: #4caf50;
  --text-color: #333;
  --background-color: #f5f5f5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
